
  <h1>Update your details</h1>>
  <ul class="user_profile">
    <li id="first-name">{{user.firstName}}</li>
    <li id="last-name">{{user.lastName}}</li>
  </ul>

<form action="/users/profile/update" method="post">
  <input type="file" id="profile_picture" name="profile_picture">
  <input type="submit">
</form>